<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{{ url_for('static', filename='css/macos_app.css') }}" rel="stylesheet">
</head>
<body>
{% include "navbar.html" %}
<style>
    .navbar {
        margin-bottom: 0px;
    }
</style>
<section class="macos-section" style="background-image: url('{{ url_for('static', filename='images/football-background.jpg') }}')">
    <div class="macos-container">
        <h1>macOS App</h1>
        {% if has_access %}
            <a href="{{ download_link }}"><h4>Download Latest Release</h4></a>
        {% else %}
        <h4 style="color: red;">Must have an active account to access download link here.</h4>
        {% endif %}
        <div class="description-content">
            <div class="image-div">
                <img class="app-image" src="{{ url_for('static', filename='images/checkout-image.png') }}">
            </div>
            <div id="features-list">
                <h3>Features</h3>
                <ul>
                    <li>Compatible with macOS 10.15 and above</li>
                    <li>Use your account to log in and log out of the application.</li>
                    <li>The macOS application pulls down directly from the macOS menu bar.</li>
                    <li>View the live scores of your favorite teams. <strong>Supported Sports: </strong>NFL, NBA, NHL, MLB, NCAAM, Soccer</li>
                    <li>Each event has a direct link to its ESPN summary.</li>
                    <li>The application help view will answer any questions you have about using the application.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>