<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoreboard</title>
    <link href="{{ url_for('static', filename='css/scoreboard.css') }}" rel="stylesheet">
</head>
<body style="background-color: #303030;">
{% include "navbar.html" %}
<style>
    .navbar {
      margin-bottom: 0px;
    }
</style>
{% macro event_item(event, sport) %}
  <a href="{{ event.espn_url }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
  <span>{{ event.status_string }}</span>
  {% if sport == "NFL" and event.in_progess %}
      <span class="yardage-string">{{ event.yardage_string }}</span>
  {% endif %}<br>
  {% if event.away_team.logo_url %}
    <img src="{{ event.away_team.logo_url }}">
  {% else %}
    <span class="label label-danger">X</span>
  {% endif %}
  {{ event.away_team.full_name }} <strong class="score-header">{{event.away_team.score}}</strong><br>
  {% if event.home_team.logo_url %}
    <img src="{{ event.home_team.logo_url }}">
  {% else %}
    <span class="label label-danger">X</span>
  {% endif %}
{{ event.home_team.full_name }} <strong class="score-header">{{event.home_team.score}}</strong>
{% endmacro %}
<section class="scoreboard-section" style="background-image: url('{{ url_for('static', filename='images/football-background.jpg') }}')">
    <div class="container scoreboard-container">
        <h2 id="scoreboard-header">Scoreboard for {{ user.username }}</h2>

        <div class="container-xl events-container">
            {% for sport in scores %}
            <div class="row">
                <h4>{{ sport.value }}</h4>
                {% for event in scores[sport] %}
                <div class="col-lg-3 nopadding event-item">
                    <div class="event-item-inner-div">
                    {{ event_item(event, sport.value) }}
                        </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</body>
</html>