<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoreboard</title>
    <link href="{{ url_for('static', filename='css/scoreboard.css') }}" rel="stylesheet">
</head>
<body style="background-color: #303030;">
{% include "navbar.html" %}
<style>
    .navbar {
      margin-bottom: 0px;
    }
</style>
{% macro event_item(event, sport) %}
  <a href="{{ event.espn_url }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
  <span id="event-{{ sport }}-{{ event.id }}-status-string">{{ event.status_string }}</span>
  {% if sport == "NFL" and event.in_progess %}
      <span class="yardage-string" id="event-{{ sport }}-{{ event.id }}-yardage-string">{{ event.yardage_string }}</span>
  {% endif %}<br>
  {% if event.away_team.logo_url %}
    <img src="{{ event.away_team.logo_url }}">
  {% else %}
    <span class="label label-danger">X</span>
  {% endif %}
  {{ event.away_team.full_name }}
  {% if sport == "NFL" and event.away_team_ball %}
    <i class="fas fa-football-ball"></i>
  {% endif %}
  {% if event.away_score %}
  <strong class="score-header" id="event-{{ sport }}-{{ event.id }}-away-score">{{event.away_score}}</strong>
  {% endif %}<br>
  {% if event.home_team.logo_url %}
    <img src="{{ event.home_team.logo_url }}">
  {% else %}
    <span class="label label-danger">X</span>
  {% endif %}
  {{ event.home_team.full_name }}
  {% if sport == "NFL" and event.home_team_ball %}
    <i class="fas fa-football-ball"></i>
  {% endif %}
  {% if event.home_score %}
  <strong class="score-header" id="event-{{ sport }}-{{ event.id }}-home-score">{{event.home_score}}</strong>
  {% endif %}
{% endmacro %}
<section class="scoreboard-section" style="background-image: url('{{ url_for('static', filename='images/football-background.jpg') }}')">
    <div class="container scoreboard-container">
        <h2 id="scoreboard-header">Scoreboard for {{ user.username }}</h2>

        <span style="color: red;" id="loading-span">Loading...</span>

        <div class="container-xl events-container">
            {% for sport in scores %}
            <div class="row" id="{{sport.value}}-events-container">
                <h4>{{ sport.value }}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</body>
<script>
    function getEventTileTopLine(data) {
        // adding espn link and status string
        var result_html = `<a href='${data.espn_url}' target='_blank'><i class='fas fa-external-link-alt'></i></a>`;
        result_html += ` <span id='event-${data.sport}-${data.id}-status-string'>${data.status_string}</span>`;

        // add yardage string if NFL event and in progress
        if(data.sport == "NFL" && data.status == "IN PROGRESS" && data.yardage_string){
            result_html += `<span class='yardage-string' id='event-${data.sport}-${data.id}-yardage-string'>${data.yardage_string}</span>`;
        }
        result_html += "<br>";
        return result_html;
    }

    function getAwayTeamSection(data) {
        result_html = "";
        if (data.away_team.logo_url){
            result_html += `<img src='${data.away_team.logo_url}'>`;
        }else{
            result_html += "<span class='label label-danger'>X</span>";
        }
        result_html += ` ${data.away_team.name}`;
        if (data.sport == "NFL" && data.possession == "AWAY") {
            result_html += " <i class='fas fa-football-ball'></i>";
        }
        if (data.away_score) {
            result_html += `<strong class='score-header' id='event-${data.sport}-${data.id}-away-score'>${data.away_score}</strong>`;
        }
        result_html += "<br>";
        return result_html;
    }

    function getHomeTeamSection(data) {
        result_html = "";
        if (data.home_team.logo_url){
            result_html += `<img src='${data.home_team.logo_url}'>`;
        }else{
            result_html += "<span class='label label-danger'>X</span>";
        }
        result_html += ` ${data.home_team.name}`;
        if (data.sport == "NFL" && data.possession == "HOME") {
            result_html += " <i class='fas fa-football-ball'></i>";
        }
        if (data.home_score) {
            result_html += `<strong class='score-header' id='event-${data.sport}-${data.id}-home-score'>${data.home_score}</strong>`;
        }
        result_html += "<br>";
        return result_html;
    }

    function getEventTile(data) {
        var result_html = `<div class='col-lg-3 nopadding event-item' id='event-${data.sport}-${data.id}'>`;
        result_html += "<div class='event-item-inner-div'>";

        // now creating event item
        // first add top line
        result_html += getEventTileTopLine(data);

        //now add away team data
        result_html += getAwayTeamSection(data);

        //now add home team data
        result_html += getHomeTeamSection(data);

        //close open divs
        result_html += "</div></div>";
        return result_html;
    }

    function renderAllEvents() {
        {% for sport in scores %}
            {{sport.value}}_html = "";
            {% for event in scores[sport] %}
                $.get("{{ event.relative_events_endpoint }}", function(data, status){
                    event_tile = getEventTile(data);
                    {{sport.value}}_html += event_tile;
                    {% if scores[sport][-1] == event %}
                        var events_container = document.getElementById("{{ sport.value }}" + "-events-container");
                        events_container.innerHTML += {{sport.value}}_html;
                        {% if sport == last_sport %}
                            document.getElementById("loading-span").hidden = true;
                        {% endif %}
                    {% endif %}
                });
            {% endfor %}
        {% endfor %}
    }

    function updateEvent(new_data) {
        var event_tile_id = "event-" + new_data.sport + "-" + new_data.id;
        var away_score = document.getElementById(event_tile_id + "-away-score");
        var home_score = document.getElementById(event_tile_id + "-home-score");
        var status_string = document.getElementById(event_tile_id + "-status-string");
        if (away_score && home_score) {
            away_score.innerHTML = new_data.away_score;
            home_score.innerHTML = new_data.home_score;
        }
        status_string.innerHTML = new_data.status_string;
        if(new_data.sport == "NFL" && new_data.status == "IN PROGRESS" && new_data.yardage_string){
            var yardage_string = document.getElementById(event_tile_id + "-yardage-string");
            yardage_string.innerHTML = new_data.yardage_string;
        }
    }

    function updateAllEvents() {
        {% for sport in scores %}
            {% for event in scores[sport] %}
                $.get("{{ event.relative_events_endpoint }}", function(data, status){
                    updateEvent(data);
                });
            {% endfor %}
        {% endfor %}
    }

    // This is the main execution section, where the functions above are called
    renderAllEvents();
    setInterval(updateAllEvents, 20000);
</script>
</html>