**/__pycache__/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
venv/
.idea/
.env
personal-scoreboard-macos-app/personal-scoreboard.xcodeproj/project.xcworkspace/xcuserdata/sajangutta.xcuserdatad/UserInterfaceState.xcuserstate
