.auth-section {
  min-height: 100vh;
  background-size: cover;
  align-content: center;
  align-items: center;
  padding-bottom: 10vh;
  padding-left: 35vw;
  padding-right: 35vw;
  padding-top: 20vh;
}
@media (max-width: 768px) {
  .auth-section {
    padding-left: 30vw;
    padding-right: 30vw;
  }
}

.form-container {
  margin: 0;
  padding: 5vh;
  overflow: auto;
  background-color: white;
  color: black;
  align-content: center;
  alignt-items: center;
}
.form-container h3{
  margin-top: 0;
  margin-bottom: 1.5vh;
}
.form-container dt{
  margin-top: 1vh;
}