.useful-links {
  padding: 40px 0;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 600px;
}
h3 {
  font-family: 'proxima-nova', sans-serif;
}
.useful-links h3 {
  color: #fff;
  text-align: center;
  font-weight: 300;
  padding-bottom: 40px;
  margin-top: 0;
  font-size: 3rem;
}
.useful-links .row {
  margin-bottom: 40px;
}
.link-tile {
  height: 250px;
  background-size: cover;
  padding: 80px 55px;
}
.link-tile img{
  display: block;
  margin: auto;
}
#nfl-tile {
  padding: 20px 55px;
}
#nfl-tile img {
  height: 100%;
  width: auto;
}
#fox-sports-tile {
  padding: 40px 55px;
}
#cbs-sports-tile {
  padding: 50px 55px;
}
#nbc-sports-tile {
  padding: 100px 55px;
}
#sports-illustrated-tile {
  padding: 110px 55px;
}
#bleacher-report-tile {
  padding: 70px 55px;
}
#bleacher-report-tile img {
  height: 100%;
  width: auto;
}
#yahoo-sports-tile {
  padding: 50px 55px;
}
#yahoo-sports-tile img {
  height: 100%;
  width: auto;
}
#nba-tile {
  padding: 45px 55px;
}
