<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics Project Index</title>
    <link href="{{ url_for('static', filename='css/index-feature-tiles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index-useful-links.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index-footer.css') }}" rel="stylesheet">
</head>
<body style="background-color: #303030;">
{% include "navbar.html" %}
<style>
    .navbar {
      margin-bottom: 0px;
    }
</style>
<section class="main-content" style="background-image: url('{{ url_for('static', filename='images/football-background.jpg') }}')">
  <div class="container">
    <h2 style="font-family: 'proxima-nova', sans-serif;">Welcome to Your Personal Scoreboard</h2>
    <h3>These are the features that make this tool so great!</h3>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="ct-featureBox">
          <div class="inner">
            <div class="image">
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <h4>Select Your Favorites</h4>
            <p>Manage a list of your favorite sports teams.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="ct-featureBox">
          <div class="inner">
            <div class="image">
              <i class="fa fa-list-ol" aria-hidden="true"></i>
            </div>
            <h4>Personalized Live Scoreboard</h4>
            <p>View a personalized live scoreboard with your favorite teams in one view.</p>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm"></div>
      <div class="col-md-4 col-sm-6">
        <div class="ct-featureBox">
          <div class="inner">
            <div class="image">
              <i class="fa fa-external-link-square-alt" aria-hidden="true"></i>
            </div>
            <h4>Mac Extension</h4>
            <p>An Extension for Mac is coming soon. You will be able to access this scoreboard from your computer's toolbar.</p>
          </div>
        </div>
      </div>
      <div class="clearfix visible-md"></div>
    </div>
  </div>
</section>
{% macro link_tile(tile_id, link, background_color, logo_file) %}
    <div class="col-md-4" style="height: 250px;">
        <div id="{{ tile_id }}" class="link-tile" style="background-color: {{ background_color }};">
            <a href="{{ link }}" target="_blank">
            <img src="{{ url_for('static', filename=logo_file) }}">
            </a>
        </div>
    </div>
{% endmacro %}
<section class="useful-links">
    <div class="container">
        <h3>Useful Links</h3>
        <div class="row">
            {{ link_tile("espn-tile", "https://www.espn.com/", "#D61E26", "images/espn-logo.png") }}
            {{ link_tile("nfl-tile", "https://www.nfl.com/", "#013369", "images/nfl-logo.png") }}
            {{ link_tile("fox-sports-tile", "https://www.foxsports.com/", "#002E56", "images/fox-sports-logo.png") }}
        </div>
        <div class="row">
            {{ link_tile("cbs-sports-tile", "https://www.cbssports.com", "#033963", "images/cbs-sports-logo.png") }}
            {{ link_tile("nbc-sports-tile", "https://www.nbcsports.com", "black", "images/nbc-sports-logo.png") }}
            {{ link_tile("sports-illustrated-tile", "https://www.si.com", "#D61E26", "images/sports-illustrated-logo.svg") }}
        </div>
        <div class="row">
            {{ link_tile("bleacher-report-tile", "https://www.bleacherreport.com", "black", "images/bleacher-report-logo.png") }}
            {{ link_tile("yahoo-sports-tile", "https://sports.yahoo.com", "#720e9e", "images/yahoo-logo.png") }}
            {{ link_tile("nba-tile", "https://www.nba.com", "#17408B", "images/nba-logo.png") }}
        </div>
    </div>
</section>
<section class="footer">
    <div class="container">
        <div class="col-md-4">
            <h4>Links</h4>
            <a href="/">Home</a><br>
            <a href="{{ url_for('views.scoreboard') }}">Scoreboard</a><br>
            <a href="{{ url_for('views.favorites') }}">Favorites</a>
        </div>
        <div class="col-md-4">
            <h4>Contact</h4>
            <a href="mailto:sjgutta@gmail.com">Email</a>
        </div>
        <div class="col-md-4">
            <h4>New Features</h4>
            I'm always open to adding new features! Email the address in the contact column with your ideas or to report an issue.
        </div>
    </div>
</section>
</body>
</html>